Demo of connecting to Google Drive

In [32]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [26]:
with open('/content/drive/My Drive/foo.txt', 'w') as f:
  f.write('Hello Google Drive!')
!cat /content/drive/My\ Drive/foo.txt

Hello Google Drive!

In [21]:
!cat /content/drive/My\ Drive/collabDemo.csv

cat: '/content/drive/My Drive/collabDemo.csv': No such file or directory

In [35]:
import pandas as pd
df=pd.read_csv('/content/drive/My Drive/collabData.csv')
df.head(3)

   name   age
0  jack    23
1  mary    27
2  mark    41

In [24]:
drive.flush_and_unmount()
print('All changes made in this colab session should now be visible in Drive.')

All changes made in this colab session should now be visible in Drive.

For more info see:
https://colab.research.google.com/notebooks/io.ipynb#scrollTo=D78AM1fFt2ty